@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/6f647d2fb27f7ad2f727d5286bc1bed1?family=Quotes+Caps+W00+Regular);

body {
  background-image: url('C:\Users\crist\OneDrive\Documents\portafolio\Nueva carpeta\portafolioTrabajo\agent\public\pattern.svg');
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  background-size: cover; /* Ajusta el tamaño para cubrir toda la página */
  background-position: center; /* Centra el SVG */

  /*background: linear-gradient(to bottom, #fffff0 50%, #F5F5DC 50%);*/
  height: auto; /* Para que cubra toda la pantalla */
  margin: 12;

  color: white;
}
.background {
  background: rgb(0, 0, 0);
  position: absolute;
}

iframe {
  transform: translateZ(0); /* Trigger GPU acceleration */
  backface-visibility: hidden; /* Prevent blurring */
  will-change: transform; /* Optimize for better rendering */
}
/* Aplicar estilos a un contenedor específico */
.custom-scrollbar {
  @apply overflow-y-auto;
}

/* Estilo del scrollbar para la clase .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0458ea;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #edf2f7;
  border-radius: 10px;
}
